doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= 'NodeJS analytics'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    != css('main')
  body(id="#{view}_view")
    .container
      block content
    block js
      != js('app_scripts')
